body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}
/* Estilos para los iconos de redes sociales en el pie de página */
.redes-sociales {
    text-align: center;
    margin-bottom: 20px;
}
.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* Estilos para el campo de búsqueda */
form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Estilos para el botón de pago seguro en línea (PSE) */
.pagar-button {
    text-align: center;
}

.pagar-button a {
    text-decoration: none;
    color: #fff;
}

.pagar-button button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagar-button button:hover {
    background-color: #0056b3;
}
.agregar-carrito {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.agregar-carrito:hover {
    background-color: #0056b3;
}

section {
    padding: 20px;
}

#catalogo {
    background-color: #f4f4f4;
}

.producto {
    text-align: center;
    margin-bottom: 30px;
}

.producto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}